<% layout("/layouts/biolerplate") %>
    <body>
       
        <form method="post" action="/listings/<%= list1.id %>?_method=PUT">
         <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit Listing</h3>
        <div class="mb-3">
         <label for="title" class="form-label">Title:</label>
         <br>
         <input type="text" name="title" id="title" value="<%= list1.title %>" class="form-control">
         </div>
         <br>
         
         <div class="mb-3">
         <label for="description" class="form-label">Description:</label>
         <br>
         <textarea name="description" placeholder="write description" class="form-control"><%= list1.description %></textarea>
         </div>
         <br>
         
         <div class="mb-3">
         <label for="image/url" class="form-label">ImageLink:</label>
         <br>
         <input type="text" name="image" id="image" placeholder="paste image link" class="form-control" value="<%= list1.image.url %>">
         </div>
         <br>
         <div class="row">
         <div class="mb-3 col-md-4">
         <label for="price" class="form-label">Price:</label>
         <br>
         <input type="number" name="price" id="price" value="<%= list1.price %>" class="form-control">
         </div>
         <br>
         
         <div class="mb-3 col-md-8">
            <label for="Country" class="form-label">Country:</label>
            <br>
            <input type="text" name="Country" id="Country" value="<%=list1.country %>" class="form-control">
        </div>
        </div>
        <br>
                 <div class="mb-3">
         <label for="location" class="form-label">Location:</label>
         <br>
         <input type="text" name="location" id="location" value="<%=list1.location%>" class="form-control">
         </div>
         <br>
    
         <button class="btn">Submit</button>
         <br>
         <br>
         <br>
    

        </form>
    </div>
</div>
    </body>
