<% layout("/layouts/biolerplate") %>
<body>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <div class="card col-6 offset-2 listing-card"> 
            <h3><%= list1.title %></h3>           
            <img src="<%= list1.image.url %>" class="card-img-top" alt="Listing Image" style="width: 500px; height: 300px;">
            <div class="card-body">
                <p class="card-text">Owned by <i><%= list1.owner.username %></i></p>
                <p class="card-text"><%= list1.description%></p>
                <p class="card-text">&#8377;<%= list1.price.toLocaleString("en-IN") %>/night</p>
                <p class="card-text"><%= list1.location %></p>
                <p class="card-text"><%= list1.country %></p>
            </div>
            <br>
            <div class="edit-delete">
                <a href="/listings/<%= list1._id %>/edit"><button class="btn">EDIT</button></a>
                <br><br>
                <form method="post" action="/listings/<%= list1._id %>?_method=DELETE">
                    <button class="btn">DELETE</button>
                </form>
            </div>
        </div>  
    </div>

    <hr>

    <div class="card col-8 offset-3 listing-card">
        <% if(currUser) { %>
        <h4>Leave a Review</h4>
        <form method="post" action="/listings/<%= list1._id %>/reviews" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-slot">
                    <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="reviews[comment]" id="comment" cols="30" rows="6" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comment!</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
        <% } %>

        <% if(list1.reviews.length > 0) { %>
        <hr>
        <p><b>All Reviews</b></p>
        <div class="row">
            <% for(let review of list1.reviews){ %>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">@<i><%= review.author.username %></i></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                    <p class="card-text"><b>Comment :</b> <%= review.comment %></p>  
                    <form action="/listings/<%= list1._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>

    <!-- MAP -->
    <div class="col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>
</div>

<script>
    const map = L.map('map').setView(
        [<%= list1.geometry.coordinates[1] %>, <%= list1.geometry.coordinates[0] %>],
        13
    );

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    
const locationIcon = L.icon({
    iconUrl: 'https://cdn-icons-png.flaticon.com/512/684/684908.png', // red pin icon
    iconSize: [40, 40],   // size of the icon
    iconAnchor: [20, 40], 
    popupAnchor: [0, -35] 
});


    L.marker(
        [<%= list1.geometry.coordinates[1] %>, <%= list1.geometry.coordinates[0] %>],
        { icon: locationIcon }
    )
    .addTo(map)
    .bindPopup(`<b><%= list1.title %></b><br><%= list1.location %>, <%= list1.country %>`)
    .openPopup();
</script>

</body>
